doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
  title SSNoC - Welcome
  body
    include includes/navbar.jade
    div.container.text-center
      br
      h3 Welcome to Survivable Social Network on a Chip!!
      br
      h4 Categories of Status 
      div(style="width:700px; text-align:center; margin-left:230px" )
        p(style="color:green") 
          strong OK: 
          | I am OK, I do not need help.
        p(style="color:yellow") 
          strong Help: 
          | I need help, but this is not a life threatening emergency.
        p(style="color:red") 
          strong Emergency: 
          | I need help now, as this is a life threatening emergency!
        p 
          strong Undefined: 
          | The user has not been providing her status yet.
        
      a.btn.btn-info(href='/people') Let's start
